<h2>Administrative user login</h2>

<%= form_tag sessions_path do %>
  <%= label_tag :nickname %><br>
  <%= text_field_tag :nickname, params[:nickname] %><br>

  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br>

  <%= get_captcha.html_safe %>
  <%= submit_tag :login %>
<% end %>
