<%= render :partial => 'shared/error_messages', :locals => { :object => @user } %>
<%= form_for(@user, :url => update_user_path(@user), :method => :put) do |f| %>
  <%= f.label :nickname, I18n.t(:nickname) %>
  <%= f.text_field :nickname %><br>

  <%= f.label :name, I18n.t(:name) %>
  <%= f.text_field :name %><br>

  <%= f.label :bio, I18n.t(:bio) %><br>
  <%= f.text_area :bio %><br>

  <%= f.label :email, I18n.t(:email) %>
  <%= f.text_field :email %><br>

  <div id="password_change">
    <p><%= content_tag :strong, t(:password_change) %></p>
    <%= f.label :password, t(:current_password) %>
    <%= f.password_field :password %><br>

    <%= f.label :new_password, t(:new_password) %>
    <%= f.password_field :new_password %><br>

    <%= f.label :new_password_confirmation, t(:new_password_conf) %>
    <%= f.password_field :new_password_confirmation %><br>

    <%= f.submit "Commit changes" %>
  </div>
<% end %>
