<h1><%= link_to @post.title, @post, :class => "post_title" %></h1>
<% if @post.author %>
<p><strong>Author:</strong> <%= @post.author.nickname %></p>
<% end %>
<% @post.formatted_paragraphs.each do |paragraph| %>
  <%= paragraph.html_safe %>
<% end %>
<%= link_to "Back to index", posts_path %>
  <%= render :partial => 'disqus' %>
