<h1><%= link_to @post.title, @post, :class => "post_title" %></h1>
<p>Posted
<% if @post.author %>
  by <strong><%= @post.author.nickname %></strong>
<% end %>
<strong><%= time_ago_in_words(@post.created_at) %></strong> ago</p>

<% @post.formatted_paragraphs.each do |paragraph| %>
  <%= paragraph.html_safe %>
<% end %>
<%= link_to "Back to index", posts_path %>
<%= render :partial => 'disqus' %>
