<!DOCTYPE html>
<html>
  <head>
    <title>W3Triad</title>
    <%= stylesheet_link_tag "application", "post_styles", :cache => true %>
    <%#= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <ul id="navbar">
      <% if current_user %>
        <li><%= link_to "Logout", logout_path %></li>
        <li><%= "Currently logged in as #{current_user.nickname}" %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
